<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Login.css">
    <title>Login usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-blue bg-blue" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 1366px; height: 66px; background-color:#2765a2; opacity:1;">
    </nav>
    <div class="container" >
        <div class="login-form" style="border-radius: 10px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <h1 style="color: #acaca3; margin-right: 10px;">Proyecto</h1>
                <h1 style="color: #FFB800; margin-right: 0px;">Duoc</h1>
                <h1 style="color: #005a8c;">Swap</h1>
            </div>
        </div>  
    </div>
    <div class="container">   
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
                <div>
                    <h6 style="color: #1A1A1A; margin-right: 10px;">Ingresa tu primer nombre</h6>     
                    <input type="text" id="nombre" placeholder="Ej: Pedro" class="input-small2" aria-describedby="emailHelp" style="margin-right: 10px;">   
                </div>
                <div style="margin-left: 40px;">
                    <h6 style="color: #1A1A1A; margin-left: 10px;">Ingresa tus apellidos</h6>     
                    <input type="text" id="nombre" placeholder="Ej: Perez" class="input-small2" aria-describedby="emailHelp" style="margin-right: 10px;">   
                </div> 
            </div> 
        </div>     
    </div>
    <div class="container">   
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
                <div>
                    <h6 style="color: #1A1A1A; margin-right: 10px;">Ingresa tu rut (sin punto ni guion)</h6>     
                    <input type="text" id="nombre" placeholder="Ej: 112223335" class="input-small2" aria-describedby="emailHelp" style="margin-right: 10px;">   
                </div> 
                <div style="margin-left: 40px;">
                    <h6 style="color: #1A1A1A; margin-right: 10px;">Ingresa tu correo Duoc uc</h6>     
                    <input type="text" id="nombre" placeholder="Ej: sa.perez@duocuc.cl" class="input-small2" aria-describedby="emailHelp" style="margin-right: 10px;">   
                </div> 
            </div> 
       
                <h6 style="color: #1A1A1A; margin-right: 10px; margin-right: 640px;">Crea tu contraseña</h6>
                <input type="text" id="apellido" placeholder="ingresa tu contraseña nueva"class="input-large">
                <h6 style="color: #1A1A1A; margin-right: 10px; margin-right: 630px;">Repite tu contraseña</h6>
                <input type="text" id="apellido" placeholder="repite tu nueva contraseña"  class="input-large">
            <div style="display: flex; justify-content: center; align-items: center;"> 
                <button type="button" class="btn btn-warning btn-lg">Crear cuenta</button>
            </div>
        </div>     
    </div>
</body>          

            