<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Perfil de Usuario</h5>
  </div>
  <div class="modal-body">
    <div class="profile-picture-container">
      <img
        [src]="profilePhoto || defaultPhoto"
        alt="Foto de perfil"
        class="profile-picture"
      />
      <input
        type="file"
        accept="image/*"
        (change)="onPhotoSelected($event)"
        id="photoInput"
      />
      <label for="photoInput" class="btn btn-primary mt-3">Cambiar Foto</label>
      <button
        class="btn btn-success mt-2"
        (click)="savePhoto()"
        [disabled]="!profilePhoto"
      >
        Guardar Foto
      </button>
    </div>
    <p><strong>Nombre de usuario:</strong> {{ username }}</p>
    <p><strong>Correo electrónico:</strong> {{ email || 'c.munoz8@duocuc.cl'}}</p>
    <p><strong>Teléfono:</strong> {{ phone || '990699607' }}</p>
    
  </div>
</div>
