{% block navbar%}
{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="Login.css">
    <title>Login usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <!-- Navbar content -->
        </div>
    </nav>

<div class="container mt-5">
    <div class="login-form bg-light p-4 rounded">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h1 style="color: #acaca3; margin-right: 10px;">Intercambios</h1>
            <h1 style="color: #FFB800; margin-right: 0px;">Duoc</h1>
            <h1 style="color: #005a8c;">Swap</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="login-form">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h1 style="color: #005a8c; margin-right: 10px;">Te hemos enviado un correo para restablecer tu contraseña</h1>
        </div>
    </div>
</div>
</body>

{% endblock %} 
