{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Roboto+Condensed:wght@700&display=swap"
        rel="stylesheet">
    <title>Index - "Duoc Swap</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="body">
<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
        >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
            onclick="gSearch(this)"
            >
            <i class="fa fa-search" aria-hidden="true"></i>
            <span> Buscar</span>
          </a>
          <a
          href="{% url 'ProductoAgregar' %}"
          class="list-group-item list-group-item-action py-2 ripple"
          >
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span> Crear Publicacion</span>
          </a>
          <a href="{% url 'ProductoListar' %}" class="list-group-item list-group-item-action py-2">
            <i class="fa fa-th-list" aria-hidden="true"></i><span> Mis Publicaciones</span>
          </a>
          <div class="dropdown">
            <a class="list-group-item list-group-item-action py-2 ripple dropdown-toggle" href="#" role="button" id="matchesDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
              <i class="fas fa-check-double" aria-hidden="true"></i>
              <span>Match</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="matchesDropdown">
              <li><a class="dropdown-item" href="{% url 'MatchesRegalo' %}">Matches Regalo</a></li>
              <li><a class="dropdown-item" href="{% url 'MatchesCambio' %}">Matches Cambio</a></li>
            </ul>
          </div>
          <a
          href="{% url 'ChatMensajes' %}"
            class="list-group-item list-group-item-action py-2 ripple"
            >
            <i class="fa fa-comments" aria-hidden="true"></i><span> Foro</span>
          </a>
          <a
          href="{% url 'ProductoReactivar' %}"
            class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fa-solid fa-upload"></i><span> Reactivar Publicacion</span></a
            >
        </div>
      </div>
    </nav>
    <!-- Navbar -->
    <nav
        id="main-navbar"
        class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #2765a2;"
        >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        onclick="toggleMenu()"
    >
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse" id="sidebarMenu">
        <!-- Aquí irá el contenido del menú -->
    </div>

    <script>
        function toggleMenu() {
            var sidebar = document.getElementById("sidebarMenu");
            sidebar.classList.toggle("show");
        }
    </script>
      <!-- Brand -->
      <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
        <h2 style="color: #ffffff; margin-right: 10px;">Intercambios</h2>
        <img src="{% static 'img/DuocSwapLogo.png' %}" alt="Logo DUOC" height="85" loading="lazy" />
      </a>
      <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
        <h2 style="color: {% if request.user.email == 'root@root.com' %}#ffffff{% else %}#000000{% endif %}; margin-right: 10px;">
          {% if request.user.email == 'root@root.com' %}ADMINISTRADOR{% endif %}
        </h2>
      </a>

      <!-- Iconos de Sesion-->
        <div class="btn-group d-flex flex-wrap" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'Index' %}'" title="Index">
            <i class="fa fa-home" aria-hidden="true" style="color: #black;"></i>
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Usuario Logueado: {{ request.user.email }}">
              <i class="fa-solid fa-user-circle" style="color: #ffffff;"></i>
              {{ request.user.email }}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'PerfilUsuario' %}">Ver Perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar Perfil</a></li>
            </ul>
          </div>
            <button type="button" class="btn btn-primary" onclick="confirmarCerrarSesion()" title="Cerrar sesión">
              <i class="fa fa-sign-out" aria-hidden="true" style="color: #ffffff;"></i>
            </button>
        </div>

      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>

  <!--Main Navigation-->
  <!--Main layout-->
  <main style="margin-top: 90px; margin-left: 2%; margin-right: 2%;">
    <br>
    <br>
    <br>
    <br>
    <form method="GET" action="{% url 'Index' %}">
      <div class="input-group" style="width: 93%; margin-left: 20px; margin-right: 20px;">
        <input type="text" name="q" class="form-control" placeholder="Ingresa para buscar (puede ser un nombre o caracteristica)" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
      </div>
    </form>
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-5">
      {% for producto in productos %}
        {% if request.user.email == 'root@root.com' %}
          <div class="col mb-4">
            <div class="card text-white mb-3" style="max-width: 18rem; margin-left: 10px; background-image: url({{ producto.p_img.url }}); background-size: cover;">
              <div class="card-overlay"></div>
              <div class="card-header" id="card-header-{{ forloop.counter }}">
                {% if producto.p_tipoTrans_id == 1 %}
                  <span style="margin-right: 5px;"><i class="fas fa-hands"></i></span>
                {% elif producto.p_tipoTrans_id == 2 %}
                  <span style="margin-right: 5px;"><i class="fas fa-gift"></i></span>
                {% endif %}
                {{ producto.p_tipoTrans }}
              </div>
              <div class="card-body" id="card-body-{{ forloop.counter }}">
                <h5 class="card-title">{{ producto.p_nombre }}</h5>
                <p class="card-text" style="font-size: 16px;">{{ producto.p_descripcion|truncatechars:50 }}</p>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCards{{ forloop.counter }}" style="font-size: 50%;">
                    <i class="fas fa-eye"></i> Ver más
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          {% if producto.p_account_email.email != request.user.email %}
            <div class="col mb-4">
              <div class="card text-white mb-3" style="max-width: 18rem; margin-left: 10px; background-image: url({{ producto.p_img.url }}); background-size: cover;">
                <div class="card-overlay"></div>
                <div class="card-header" id="card-header-{{ forloop.counter }}">
                  {% if producto.p_tipoTrans_id == 1 %}
                    <span style="margin-right: 5px;"><i class="fas fa-hands"></i></span>
                  {% elif producto.p_tipoTrans_id == 2 %}
                    <span style="margin-right: 5px;"><i class="fas fa-gift"></i></span>
                  {% endif %}
                  {{ producto.p_tipoTrans }}
                </div>
                <div class="card-body" id="card-body-{{ forloop.counter }}">
                  <h5 class="card-title">{{ producto.p_nombre }}</h5>
                  <p class="card-text" style="font-size: 16px;">{{ producto.p_descripcion|truncatechars:50 }}</p>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCards{{ forloop.counter }}" style="font-size: 50%;">
                      <i class="fas fa-eye"></i> Ver más
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

  <style>
    .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Cambia el último valor (0.5) para ajustar la opacidad */
      z-index: 1;
    }
  
    .card-header,
    .card-body {
      position: relative;
      z-index: 2;
    }
    
  </style>

      <!-- Agregar paginación -->
      <!--<div style="position: sticky; bottom: 0; background-color: #f8f9fa; padding: 10px 0; z-index: 9999; min-height: 50px;">-->
        <div class="d-flex justify-content-center">
          <nav aria-label="PaginacionElementos">
            <ul class="pagination">
              {% if productos.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ productos.previous_page_number }}">Anterior</a>
                </li>
              {% endif %}

              {% for i in productos.paginator.page_range %}
                {% if productos.number == i %}
                  <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if productos.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ productos.next_page_number }}">Siguiente</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

      <script>
        function confirmarCerrarSesion() {
          Swal.fire({
            title: '¿Estás seguro que deseas cerrar sesión?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
          }).then((result) => {
            if (result.isConfirmed) {
              // Aquí rediriges a la URL de cierre de sesión
              window.location.href = "{% url 'cerrar_sesion' %}";
            }
          });
        }
      </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Modal -->
{% for producto in productos %}
  {{ productos.start_index|add:forloop.counter0 }}
  <div class="modal fade" id="modalCards{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalCards{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="custom-background">
          <!--style="background-image: url('{{ producto.p_img.url }}'); background-size: cover;"-->
          <div class="card-overlay"></div>
        </div>
        <div class="modal-header">
          <h5 class="modal-title text-white" id="modalCards">{{ producto.p_nombre }}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body-tipoTrans" id="modal-body-tipoTrans-{{ forloop.counter }}">
            {% if producto.p_tipoTrans_id == 1 %}
              <span class="badge bg-warning text-dark" style="margin-right: 5px;"><i class="fas fa-hands"></i> {{ producto.p_tipoTrans }}</span>
            {% elif producto.p_tipoTrans_id == 2 %}
              <span class="badge bg-warning text-dark" style="margin-right: 5px;"><i class="fas fa-gift"></i> {{ producto.p_tipoTrans }}</span>
            {% endif %}
          </div>
          <div class="modal-body-img text-center d-flex justify-content-center" style="width: 100%; height: 200px; object-fit: cover;">
            <img src="{{ producto.p_img.url }}" alt="Imagen del producto">
          </div>
          <br>
          <div class="modal-body-text">
            <p class="text-white">Descripcion:</p>
            <p class="text-white">{{ producto.p_descripcion }}</p>
            <div id="modalTags">
              <h6 class="d-inline text-white">Categoria: </h6>
              {% if producto.p_categoria_id == 1 %}
                <span class="badge bg-secondary"><i class="fas fa-building"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 2 %}
                <span class="badge bg-primary text-dark"><i class="fas fa-mobile-alt"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 3 %}
                <span class="badge bg-warning text-dark"><i class="fas fa-hard-hat"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 4 %}
                <span class="badge bg-light text-dark"><i class="fas fa-pencil-ruler"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 5 %}
                <span class="badge bg-primary"><i class="fas fa-hat-chef"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 6 %}
                <span class="badge bg-dark"><i class="fas fa-laptop"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 7 %}
                <span class="badge bg-success"><i class="fas fa-car"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 8 %}
                <span class="badge bg-light text-dark"><i class="fas fa-user-nurse"></i> {{ producto.p_categoria }}</span>
              {% elif producto.p_categoria_id == 9 %}
                <span class="badge bg-info text-dark"><i class="fas fa-map-location-dot"></i> {{ producto.p_categoria }}</span>
              {% endif %}
            </div>
            <br>
            <div id="modalTags">
              <h6 class="d-inline text-white">Tags: </h6>
              <span class="badge bg-secondary d-inline">{{ producto.p_tags }}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <form method="post" {% if producto.p_tipoTrans_id == 1 %}action="{% url 'optar_a_cambio' %}"{% else %}action="{% url 'optar_a_regalo' %}"{% endif %}>
            {% csrf_token %}
            <input type="hidden" name="producto_id" value="{{ producto.id }}">
            <input type="hidden" name="producto_propuesto_id" value="{{ producto.id }}">
            <input type="hidden" name="usuario_dueño" value="{{ producto.p_account_email.id }}">
            <button type="submit" class="btn btn-primary" onclick="mostrarAlerta(event)">
              {% if producto.p_tipoTrans_id == 1 %}
                <span style="margin-right: 5px;"><i class="fas fa-hands"></i></span> Optar a Cambio
              {% elif producto.p_tipoTrans_id == 2 %}
                <span style="margin-right: 5px;"><i class="fas fa-gift"></i></span> Optar a Regalo
              {% endif %}
            </button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}



<script>
  function mostrarAlerta(event) {
    event.preventDefault(); // Evita enviar el formulario de inmediato

    Swal.fire({
      title: '¿Estás seguro de realizar esta operación?',
      showCancelButton: true,
      confirmButtonText: 'Sí',
      cancelButtonText: 'No'
    }).then((result) => {
      if (result.value) {
        // Envía el formulario después de la confirmación
        event.target.closest('form').submit();

        // Muestra una alerta de "Operación realizada"
        Swal.fire({
          icon: 'success',
          title: 'Operación realizada',
          showConfirmButton: true,
          timer: 3000 // La alerta se cerrará automáticamente después de 3 segundos
        });
      }
    });
  }
</script>

<script>
  function confirmarCerrarSesion() {
    Swal.fire({
      title: '¿Estás seguro que deseas cerrar sesión?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sí',
      cancelButtonText: 'No'
    }).then((result) => {
      if (result.isConfirmed) {
        // Aquí rediriges a la URL de cierre de sesión
        window.location.href = "{% url 'cerrar_sesion' %}";
      }
    });
  }
</script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    
  </main>
  <!--Main layout-->
</body>
</html>